// themes.scss

body.Rick {
  --color-background: #111111;
  
  --color-text: #f1f1f1;
  --secondary-color-text: #f1f1f1;
  --color-link: #bbbbbb;
  --color-button-bg: #2c2c2c;
  --color-button-border: #555555;
  --color-button-hover-bg: #444444;
  --color-button-hover-text: #ffffff;

  background-color: var(--color-background);
  color: var(--color-text);
}

body.Morty {
  --color-background: #043C6E;
  --color-text: #EBE480;
  --secondary-color-text: #6B7132;
  --color-link: #88E23B;
  --color-button-bg: #A6CCCC;
  --color-button-border: #6B7132;
  --color-button-hover-bg: #60A85F;
  --color-button-hover-text: #EBE480;

  background-color: var(--color-background);
  color: var(--color-text);
}
