.public-layout {
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  width: 100%;
  gap: 0;
}

.public-layout .navbar {
  grid-column: 1;
  grid-row: 1 / span 2; 
  max-width: 240px;
  min-width: 180px;
  height: 100vh;
  position: sticky;
  top: 0;
}

.public-layout main {
  grid-column: 2;
  grid-row: 1;
  padding: 2rem;
  overflow-x: hidden;
}

.public-layout .footer {
  grid-column: 2;
  grid-row: 2;
  padding: 1rem 2rem;
  background-color: #eee;
  max-width: 900px; /* o el ancho que quieras */
  margin: 0 auto;
  box-sizing: border-box;
}
